<div class="contents row">

  <p><%= @nickname %>さんの投稿一覧</p>
  <%= link_to "投稿一覧に戻る",tweets_path,method: :get%>

  <% @tweets.each do |tweet| %>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
  <% end %>
  
</div>